SERVICE_NAME=@@SERVICE_NAME@@
VLLM_IMAGE=@@VLLM_IMAGE@@
MODEL_ID=@@MODEL_ID@@
MODEL_REVISION=@@MODEL_REVISION@@
SERVED_MODEL_NAME=@@SERVED_MODEL_NAME@@
MAX_MODEL_LEN=@@MAX_MODEL_LEN@@
TENSOR_PARALLEL_SIZE=@@TENSOR_PARALLEL_SIZE@@
BIND_HOST=@@BIND_HOST@@
HOST_PORT=@@HOST_PORT@@
HF_CACHE=@@HF_CACHE@@
HF_TOKEN=
